.container {
  display: grid;
  grid-template: 100px 100px 100px / 100px 100px 100px;
  justify-content: center;
	text-align: center;
}

.item {
  border-style: solid;
  border-width: thin;
  font-size: 80px;
}

.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

body {
  background: #8adde3;
  text-align: center;

}

.tile {
  display:flex;
  justify-content:center;
  align-items:center;
}

button {
  border-radius:50%;
  padding: 18px;
  background-color:#a0baba;
}